<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <h1>{{>header}}
        </h1>
        <p>done by {{name}}</p>
        <p> this site is useful for finding weather of a region and the dta is used from mapbox and darknet</p>
        <p>contact me <a href="mailto:kpranayreddy2000@gmail.com">MAIL</a></p>
        {{>footer}}
    </body>

</html>